{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <script src="{%static 'js/func.js'%}"></script>
    <title>ROMIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
</head>
<body>

<div class="all_content">
    <div class="top_bar">
            <img src="{%static 'img/img_1.png'%}" alt="">
            <div class="block">
                <p>УСЛУГИ</p>
                <p>УСЛОВИЯ</p>
                <p>КОНТАКТЫ</p>
            </div>
        <div class="photo_mobile"><button onclick="drop_down()" class="drp_b"><img src="{%static 'img/img.png'%}" alt=""></button></div>
            <div class="drop_down">
                <div class="img_drop"><img src="{%static 'img/img_2.png'%}" alt=""></div>
                <div class="links_down">
                <a>УСЛУГИ</a>
                <a>УСЛОВИЯ</a>
                <a>КОНТАКТЫ</a>
                </div>
            </div>
        </div>
    <div class="main">
            <div class="left">
                <div class="text_left">
                    <h1>Разработка чат-ботов програмного обеспечения и сайтов</h1>
                    <p>Создаём уникальные проекты, удобные и понятные для пользователей.</p>
                    <button>НАПИСАТЬ НАМ</button>
                </div>
                <div class="carbon_mobile">
                    <img src="{%static 'img/carbon_settings.png'%}" alt="" class="first_mobile">
                    <img src="{%static 'img/carbon_settings.png'%}" alt="" class="second_mobile">
                </div>
                <div class="iconss">
                    <img src="{%static 'img/ic_baseline-telegram.png'%}" alt="">
                    <img src="{%static 'img/dashicons_whatsapp.png'%}" alt="">
                    <div class="vkk"><img src="{%static 'img/brandico_vkontakte-rect.png'%}" alt=""></div>
                </div>
            </div>
        <div class="main_img"><img src="{% static 'img/image.png'%}" alt=""></div>
        </div>
    <div class="services">
            <h1>Услуги</h1>
            <div class="ser">
            <div class="business_card_website">
                <h2>Сайт-визитка</h2>
                <p>Этапы работы над проектом:</p>
                <div class="list">
                    <p>&bull; Брифинг с клиентом</p>
                    <p>&bull; Анализ конкурентов и ниши</p>
                    <p>&bull; Определение аудитории</p>
                    <p>&bull; Подбор референсов</p>
                    <p>&bull; Создание дизайна макета</p>
                    <p>&bull; Верстка</p>
                </div>
            </div>
            <div class="multi_page">
                <h2>Многостраничник</h2>
                <p>Этапы работы над проектом:</p>
                <div class="list">
                    <p>&bull; Брифинг с клиентом</p>
                    <p>&bull; Концепт</p>
                    <p>&bull; Анализ конкурентов и ниши</p>
                    <p>&bull; Прототипирование</p>
                    <p>&bull; Подбор референсов</p>
                    <p>&bull; Верстка/программирование</p>
                </div>
            </div>

            <div class="online_store">
                <h2>Интернет-магазин</h2>
                <p>Этапы работы над проектом:</p>
                <div class="list">
                    <p>&bull; Брифинг с клиентом</p>
                    <p>&bull; Концепт</p>
                    <p>&bull; Анализ конкурентов и ниши</p>
                    <p>&bull; Определение конкурентов</p>
                    <p>&bull; Подбор референсов</p>
                    <p>&bull; Создание дизайн-макета</p>
                    <p>&bull; Верстка/программирование</p>
                </div>
            </div>
            <div class="chat_bots">
                <h2>Чат-боты</h2>
                <p>Этапы работы над проектом:</p>
                <div class="list">
                    <p>&bull; Брифинг с клиентом</p>
                    <p>&bull; Проектирование</p>
                    <p>&bull; Разработка</p>
                    <p>&bull; Запуск</p>
                </div>
            </div>
            <div class="programm_software">
                <h2>ПО</h2>
                <p>Этапы работы над проектом:</p>
                <div class="list">
                    <p>&bull; Брифинг с клиентом</p>
                    <p>&bull; Цели и задачи</p>
                    <p>&bull; Разбор конкурентов</p>
                    <p>&bull; Верстка/программирование</p>
                </div>
            </div>
                <div class="carbon">
                <img src="{%static 'img/carbon_settings.png'%}" alt="" class="first">
                <img src="{%static 'img/carbon_settings.png'%}" alt="" class="second">
            </div>
            </div>

            </div>
    <div class="ifs">
        <h1>Условия</h1>
        <div class="ifss">
            <div class="cooperation">
                <h3>СОТРУДНИЧЕСТВО</h3>
                <div class="circle">
                <p>c <span>1 дня</span></p>
                </div>
            </div>
            <div class="dedlines">
                <h3>СРОКИ</h3>
                <div class="circle_s">
                <p>от <span>2 дней</span></p>
                </div>
            </div>
            <div class="price">
                <h3>СТОИМОСТЬ</h3>
                <div class="circle_t">
                <p>от <span>1 500 Р</span></p>
                </div>
            </div>
        </div>
    <button>НАПИСАТЬ НАМ</button>
    </div>
    <div class="contacts">
        <h1>Контакты</h1>
        <div class="main_contacts">
            <img src="{%static 'img/209439841.png'%}" alt="">
            <div class="text">
                <div class="phones">
                    <p class="undertitle">Телефон</p>
                    <p class="number">+7 9319668817</p>
                </div>
                <div class="seti">
                    <p class="undertitle">Социальные сети</p>
                    <div class="links">
                        <img src="{%static 'img/1.png'%}" alt="">
                        <img src="{%static 'img/2.png'%}" alt="">
                        <img src="{%static 'img/3.png'%}" alt="">
                    </div>
                </div>
                <button>НАПИСАТЬ НАМ</button>
            </div>
        </div>
    </div>
</div>
<div class="down_bar">
    <div class="texts">
        <img src="{%static 'img/logo.png'%}" alt="">
        <p>«Совершим шаг в будущее вместе с вами»</p>
    </div>
    <p class="right">Все права защищены</p>
</div>
</body>
</html>